/* Benefits */
.benefits-section {
    background: #fff;
    padding: 70px 0 40px;
    display: flex;
    flex-direction: column;
}

.benefits-grid {
    display: flex;
    gap: 28px;
    max-width: 80%;
    align-items: center;
    justify-content: center;
}

.benefits-column {
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 1;
}

.benefit-image {
    flex-shrink: 0;
    max-width: 500px;
}

.benefit-image img {
    width: 100%;
    border-radius: 20px;
}

.benefit-card {
    background: #f5f9f6;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 286px;
    height: 188px;
}

.benefit-icon {
    font-size: 2rem;
}

.benefit-card h3 {
    font-size: 1.05rem;
    font-weight: 700;
    color: #2d5a3d;
}

.benefit-card p {
    font-size: .9rem;
    line-height: 1.35;
    color: #444;
    text-align: center;
}

.benefit-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 28px -8px rgba(0, 0, 0, 0.15);
}